html, body {
    max-width: 100%;
    overflow-x: hidden;
    height:100%;
}

/**header******************/

#subLogo p {

    color: #2f488f;
    font-family: "ubuntu";
    font-size: 20px;
    position: relative;
    bottom:1470px;
    left:140px;
}

#creez h1 {

    color: #f4ab0f;
    font-family: "ubuntu";
    font-size: 90px;
    position: relative;
    top:-1055px;
    left:130px;
    animation-name:textloop;
    animation-duration: 5s;


}

#communiquez h1 {

    color: white;
    font-family: "ubuntu";
    font-size: 90px;
    position: relative;
    top:-1240px;
    left:200px;
    animation-name:textloop;
    animation-duration: 5s;

}

#innovez h1 {

    color: #2f488f;
    font-family: "ubuntu";
    font-size: 90px;
    position: relative;
    top:-1180px;
    left:650px;
    animation-name:textloop;
    animation-duration: 5s;

}

#evoluez h1 {

    color: #d01536;
    font-family: "ubuntu";
    font-size: 90px;
    position: relative;
    top:-1370px;
    left:1000px;
    animation-name:textloop;
    animation-duration: 5s;

}

@keyframes textloop {
    0% {opacity:0;}
    100% {opacity: 1;}



}



/******* Navbar ***********************************/

#cwsdNavbar {

    font-family: Ubuntu;
    font-size: 25px;
    height: 55px;
    width:1980px;
    top:170px;
    left:0px;
    opacity:1;
    background-color: #2f488f;

}

#navContainer {



}

#cwsdNavbar a{

    color: white;
    bottom:50px;
    left:370px;




     }

#cwsdNavbar a:hover{

    color: #f4ab0f;
    height: 55px;
    border-color: #f4ab0f;
    animation-name:textloop;
    animation-duration: 0.4s;
    background-color: white;
}

#cwsdUl {

    position: relative;
    left:105px;
    top:50px;
}


/*********ancre presentation******/

#ancrePresentation{

    position: relative;
    height:600px;
    width:500px;
    bottom:1530px;
    left:50px;


}

#presP1 {
    position: relative;
    height:300px;
    width:800px;
    color:#d01536;
    left:0px;
    top:0px;
    font-family:Ubuntu;
    font-size: 20px;

}


#presP2 {
    position: relative;
    height:300px;
    width:800px;
    color:#2f488f;
    left:0px;
    bottom:250px;
    font-family:Ubuntu;
    font-size: 19px;

}

#presP3 {
    position: relative;
    height:300px;
    width:800px;
    color:#2f488f;
    left:0px;
    bottom:400px;
    font-family:Ubuntu;
    font-size: 19px;

}

#presP4 {
    position: relative;
    height:300px;
    width:800px;
    color:#2f488f;
    left:400px;
    bottom:760px;
    font-family:Ubuntu;
    font-size: 19px;

}

#presP5 {
    position: relative;
    height:300px;
    width:800px;
    color:#2f488f;
    left:0px;
    bottom:930px;
    font-family:Ubuntu;
    font-size: 19px;

}

#presP6 {
    position: relative;
    height:300px;
    width:800px;
    color:#2f488f;
    left:400px;
    bottom:1290px;
    font-family:Ubuntu;
    font-size: 19px;

}



#ancrePresentation ul {
    position: relative;
    height:300px;
    width:800px;
    color:#2f488f;
    left:150px;
    bottom:2250px;
    font-family:Ubuntu;
    font-size: 19px;

}



#titlePresentation h2 {

    position: relative;
    font-family: "ubuntu";
    color: #d01536;
    font-size:40px;
    bottom:2150px;
    left:-400px;
    writing-mode: vertical-lr;
    text-orientation: upright;

}

#h2Pres {

    position: relative;
    top:-10px;
    height:50px;
    width:250px;
    color:#2f488f;
    left:0px;
    font-family:Ubuntu;
    border-top: solid #d01536;
    border-bottom: solid #d01536;
}

#spanpresP3 {
    color: #d01536;
    position:relative;
    top:20px;
    left:30px;

}

#spanpresP4 {
    color: #d01536;
    position:relative;
    top:20px;
    left:60px;

}

#spanpresP5 {
    color: #d01536;
    position:relative;
    top:20px;
    left:60px;

}

#spanpresP6 {
    color: #d01536;
    position:relative;
    top:20px;
    left:60px;

}
/*** images ****/

#cwsdLogo {

    position: relative;
    top:-20px;
    right:20px;
}



#alohaVideo {
    position: relative;
    height:200px;
    top:-230px;
    left:845px;


}

#Agile {
    position: relative;
    height:200px;
    top:-435px;
    left:1200px;


}

#keyboard {
    position: relative;
    height:200px;
    top:-640px;
    left:490px;


}

#androidScroll {
    position: relative;
    height:200px;
    top:-845px;
    left:1555px;


}


#diamond {
    position:relative;
    height:30px;
    width:auto;
    right:300px;
    top:10px;

}

#diamond2 {
    position:relative;
    height:30px;
    width:auto;
    left:530px;
    top:10px;

}

#book {

    position: relative;
    height:450px;
    right:650px;
    bottom:2140px;

}

#mockup {

    position: relative;
    height:380px;
    right:620px;
    bottom:2100px;

}

#codingWall {

    position: relative;
    height:220px;
    width:491px;
    left:0px;
    bottom:1625px;
    opacity:0.2;

}

#stop {
    position: relative;
    height:20px;
    left:250px;
    bottom:1225px;
    color:#f4ab0f;
}

#board {

    position: relative;
    bottom:360px;


}

#todo {

    position: relative;
    bottom:720px;
    left:400px;


}

#listening {

    position: relative;
    bottom:890px;
    left:0px;


}

#sharing {

    position: relative;
    bottom:1250px;
    left:400px;


}