html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/**header******************/

#subLogo p {

    color: #2f488f;
    font-family: "ubuntu";
    font-size: 20px;
    position: relative;
    bottom:1470px;
    left:140px;
}

#creez h1 {

    color: #f4ab0f;
    font-family: "ubuntu";
    font-size: 90px;
    position: relative;
    top:-1055px;
    left:130px;
    animation-name:textloop;
    animation-duration: 5s;


}

#communiquez h1 {

    color: white;
    font-family: "ubuntu";
    font-size: 90px;
    position: relative;
    top:-1240px;
    left:200px;
    animation-name:textloop;
    animation-duration: 5s;

}

#innovez h1 {

    color: #2f488f;
    font-family: "ubuntu";
    font-size: 90px;
    position: relative;
    top:-1180px;
    left:650px;
    animation-name:textloop;
    animation-duration: 5s;

}

#evoluez h1 {

    color: #d01536;
    font-family: "ubuntu";
    font-size: 90px;
    position: relative;
    top:-1370px;
    left:1000px;
    animation-name:textloop;
    animation-duration: 5s;

}

@keyframes textloop {
    0% {opacity:0;}
    100% {opacity: 1;}



}



/******* Navbar ***********************************/

#cwsdNavbar {

    font-family: Ubuntu;
    font-size: 25px;
    height: 55px;
    width:1980px;
    top:170px;
    left:0px;
    opacity:1;
    background-color: #2f488f;

}

#navContainer {



}

#cwsdNavbar a{

    color: white;
    bottom:50px;
    left:370px;




     }

#cwsdNavbar a:hover{

    color: #f4ab0f;
    height: 55px;
    border-bottom-style:solid;
    border-color: #f4ab0f;
    animation-name:textloop;
    animation-duration: 0.4s;
    background-color: white;
}

#cwsdUl {

    position: relative;
    left:105px;
    top:50px;
}


/*********ancre presentation******/

#ancrePresentation{

    position: relative;
    height:600px;
    width:1570px;
    top:-1464px;
    left:-720px;

}

#ancrePresentation p {
    position: relative;
    height:300px;
    width:800px;
    color:#2f488f;
    left:1300px;
    top:125px;
    font-family:Ubuntu;
    font-size: 20px;

}

#ancrePresentation ul {
    position: relative;
    height:300px;
    width:800px;
    color:#2f488f;
    left:1260px;
    bottom:450px;
    font-family:Ubuntu;
    font-size: 17px;

}



#titlePresentation h2 {

    position: relative;
    font-family: "ubuntu";
    color: #f4ab0f;
    font-size:40px;
    top:-1950px;
    left:-400px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    border-left-style:solid;
    border-right-style:solid;
}

#h2Pres {

    position: relative;
    top:130px;
    color:#2f488f;
    left:1300px;
    font-family:Ubuntu;
}

/*** images ****/

#cwsdLogo {

    position: relative;
    top:-20px;
    right:20px;
}



#alohaVideo {
    position: relative;
    height:200px;
    top:-230px;
    left:845px;


}

#Agile {
    position: relative;
    height:200px;
    top:-435px;
    left:1200px;


}

#keyboard {
    position: relative;
    height:200px;
    top:-640px;
    left:490px;


}

#androidScroll {
    position: relative;
    height:200px;
    top:-845px;
    left:1555px;


}


#diamond {
    position:relative;
    height:30px;
    width:auto;
    right:300px;
    top:10px;

}

#diamond2 {
    position:relative;
    height:30px;
    width:auto;
    left:530px;
    top:10px;

}

#book {

    position: relative;
    height:350px;
    left:700px;
    bottom:200px;

}

#mockup {

    position: relative;
    height:350px;
    left:1350px;
    bottom:200px;

}
